#launch.json folder
.vscode/
.alcache/
.alpackages/
.snapshots/

__pycache__/
.pytest_cache/

.Xil/

# verilator files
sim_build/
*.vvp
*.vscode
*.vcd
*.fst
*.pyc


gcdWorkdir/


# Junk/incomplete files

pipelined_non_restoring.c

*.bsp
*.metals
*.scala-build
*.wlf

assets/


target/
project/

free_list.anno.json


# Vivado Logs
syn/*.jou
syn/.log


binaries/spike_traces/


*.log