### AL ###
#Template for AL projects for Dynamics 365 Business Central
#launch.json folder
.vscode/
.alcache/
.alpackages/
.snapshots/

__pycache__/

# verilator files
sim_build/
*.vvp
*.vscode
*.vcd

