
.side-bar {
  z-index: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: #1F2430;
}

@media (min-width: 50rem) {
  .side-bar {
    flex-flow: column nowrap;
    position: fixed;
    width: 15.5rem;
    height: 100%;
    border-right: 1px solid #44434d;
    align-items: flex-end;
  }
}

@media (min-width: 66.5rem) {
  .side-bar {
    width: calc((70% - 66.5rem) / 2 + 16.5rem);
    min-width: 16.5rem;
  }
}


@media (min-width: 66.5rem) {
  .main {
    margin-left: max(16.5rem, (70% - 66.5rem) / 2 + 16.5rem);
  }

}


body {
  background-color: #1F2430;
}




/* Change the color of all headers */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffad66;
}